body {
    background-color: #2B8C67 !important;
}

.custom-text {
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}

.custom-label {
    color: #C1CAD2 !important;
}

.text-navbar {
    color: aliceblue !important;
}

.custom-navbar {
    background-color: #0C4B33 !important;
}

.custom-container {
    background-color: #181d27 !important;
}

.body-text {
    color: #C1CAD2 !important;
}

.custom-button {
    background-color: #181d27 !important;
    border-color: #C1CAD2 !important;
    color: #2B8C67 !important;
}

.custom-button:hover {
    background-color: #2a2f3a !important;
    border-color: #C1CAD2 !important;
    color: #C1CAD2 !important;
    transition: all .4s ease-in-out;
}


