{% extends 'api/base.html' %}

{% block title %}TJP | HOME{% endblock %}

{% block content %}
<h3 class="body-text py-2">Data Produk *</h3>

<table class="table table-dark table-striped">
    <colgroup>
        <col style="width: 5%" />
        <col style="width: 45%" />
        <col style="width: 15%" />
        <col style="width: 20%" />
        <col style="width: 15%" />
    </colgroup>
    <tr>
        <th class="text-center">No</th>
        <th class="text-center">Nama Produk</th>
        <th class="text-center">Harga</th>
        <th class="text-center">Kategori</th>
        <th class="text-center">Status</th>
    </tr>
    {% for p in bisa_dijual %}
    <tr>
        <td class="custom-label" style="display: none;">{{ p.id_produk }}</td>
        <td class="custom-label text-center">{{ forloop.counter }}</td>
        <td class="custom-label">{{ p.nama_produk }}</td>
        <td class="custom-label">Rp. {{ p.harga }}</td>
        <td class="custom-label">{{ p.kategori_id.nama_kategori }}</td>
        <td class="custom-label text-center">{{ p.status_id.nama_status }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}